body {
    background-color: rgb(23, 23, 53);
}

#container {
    display: flex;
}

#quadra {
    /* centralizacao */
    margin: 2%;
    /* centralizacao */
    position: relative;
    background-color: green;
    width: 610px;
    height: 670px;
}

#linhaSimplesEsquerda {
    border: 3px solid white;
    position: absolute;
    width: 0px;
    height: 670px;
    left: 46px;
}

#linhaSimplesDireita {
    border: 3px solid white;
    position: absolute;
    width: 0px;
    height: 670px;
    left: 560px;
}

#linhaDuplaFundo {
    border: 3px solid white;
    position: absolute;
    width: 610px;
    height: 0px;
    top: 594px;
}

#linhaMeioSaque {
    border: 3px solid white;
    position: absolute;
    width: 0px;
    height: 472px;
    left: 305px;
    top: 198px;
}

#linhaFrenteSaque {
    border: 3px solid white;
    position: absolute;
    width: 610px;
    height: 0px;
    top: 198px;
}

#botoes {
    /* centralizacao */
    margin: 10% 2% 2% 5%;
    /* centralizacao */
    width: 40%;
    height: 0%;
}

#oito {
    margin: 10% 1% 1% 10%;
}

#sete {
    margin: 10% 1% 1% 15%;
}

#seis {
    margin: 10% 1% 1% 15%;
}

#cinco {
    margin: 10% 1% 1% 10%;
}

#quatro {
    margin: 10% 1% 1% 38%;
}

#tres {
    margin: 10% 1% 1% 10%;
}

#dois {
    margin: 10% 1% 1% 15%;
}

#um {
    margin: 10% 1% 1% 15%;
}

#posicaoUm, #posicaoDois, #posicaoTres, #posicaoQuatro, #posicaoCinco, #posicaoSeis, #posicaoSete, #posicaoOito {
    background-color: red;
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
}

#posicaoOito {
    top: 600px;
    left: 21px;
}

#posicaoSete {
    top: 600px;
    left: 280px;
}

#posicaoSeis {
    top: 600px;
    left: 535px;
}

#posicaoCinco {
    top: 310px;
    left: 21px;
}

#posicaoQuatro {
    top: 310px;
    left: 535px;
}

#posicaoTres {
    top: 51px;
    left: 21px;
}

#posicaoDois {
    top: 51px;
    left: 280px;
}

#posicaoUm {
    top: 51px;
    left: 535px;
}